name: Train and Deploy

permissions:
  contents: write


on:
  push:
    branches: [ main ]

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Train models
      run: python src/train.py

    - name: Commit trained models
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add models/*.pkl
        git commit -m "Auto-trained models" || echo "No changes to commit"

    - name: Push to GitHub
      run: git push

    - name: Push to Hugging Face Space
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        git remote add space https://USER:$HF_TOKEN@huggingface.co/spaces/carpeadiam-alt/mlops
        git push space main 
